name: Next.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          npm install
          # or yarn install if using yarn

      - name: Run tests
        working-directory: ./frontend
        run: |
          npm test
          # or yarn test if using yarn

      - name: Build
        working-directory: ./frontend
        run: |
          npm run build
          # or yarn build if using yarn
