name: Next.js CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Check for Dependencies
        run: |
          if [ -f ./frontend/package.json ] && [ -f ./frontend/yarn.lock ]; then
            echo 'Found package.json and yarn.lock';
          else
            echo 'package.json or yarn.lock not found';
            exit 1;
          fi
        working-directory: ./frontend

      - name: Install Dependencies
        run: |
          yarn install
        working-directory: ./frontend

      - name: Build
        run: |
          yarn build
        working-directory: ./frontend

      - name: Run Tests
        run: |
          yarn test
        working-directory: ./frontend

      - name: Lint
        run: |
          yarn lint
        working-directory: ./frontend
